*{
  margin:0
}
.app{
  background-color: #fafafa;
  min-height: 100vh;
}

.app__header{
  background-color: white;
  border-bottom: 1px solid lightgrey;
  display:flex;
  align-items: center;
}

.app__headerImage{
  object-fit: contain;
  padding:2%;
  height: 40px;
}

.app__signup{
  display:flex;
  flex-direction: column;
}

.app__loginContainer{
  margin-left:auto;
  margin-right:10%;
}

